<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">
    <!-- 用户验证通过才能授权，若不通过会跳到authentication-failure-url(验证失败页面)
          若用户验证通过，但没有default-target-url的访问权限，则会跳转至access-denied-page(授权失败页面) -->
    <http  access-denied-page="/accessDeny.jsp">
    	<intercept-url pattern="/admin/*.do"  access="ROLE_ADMIN" />
        <intercept-url pattern="/admin/**/save.do"  access="ROLE_ADMIN" />
        <intercept-url pattern="/admin/**/create.do"  access="ROLE_ADMIN" />
        <intercept-url pattern="/admin/**/list.do"  access="ROLE_ADMIN" />
        <intercept-url pattern="/admin/**/delete.do"  access="ROLE_ADMIN" />

        <session-management session-fixation-protection="none">  
             <concurrency-control/>
        </session-management>        
        <form-login login-page="/login.jsp" default-target-url="/index.jsp"
            authentication-failure-url="/login.jsp" />
		<logout logout-success-url="/login.jsp" 
			    logout-url="/j_spring_security_logout"/>
        <!-- custom-filter ref="UserSecurityFilter" before="FILTER_SECURITY_INTERCEPTOR" />-->
    </http>

	<beans:bean id="mongoConfig" class="com.sjtu.onlinelibrary.util.MongoConfig">
        <beans:property name="serverList" value="localhost"/>
        <beans:property name="dbName" value="onlineLibrary"/>
    </beans:bean>
	<beans:bean id="mutableDataAccess" class="com.sjtu.onlinelibrary.impl.DataAccessMongoImpl">
        <beans:constructor-arg ref="mongoConfig"></beans:constructor-arg>
    </beans:bean>
    <beans:bean id="userService" class="com.sjtu.onlinelibrary.service.impl.UserServiceImpl">
    	<beans:constructor-arg ref="mutableDataAccess"></beans:constructor-arg>
    </beans:bean>
    
    <!-- 自定义UserDetailsService认证 -->
    <beans:bean id="UserDetailService" class="com.sjtu.onlinelibrary.security.UserDetailService">
    	<beans:property name="userService" ref="userService"></beans:property>
    </beans:bean> 
    
    <authentication-manager>
        <authentication-provider user-service-ref="UserDetailService"></authentication-provider>
    </authentication-manager>
	
    
</beans:beans>